@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --nunito-sans: "Nunito Sans", Arial, Helvetica, sans-serif;
  --grey: #a0a0a0;
  --fadeIn: 0.5s forwards ease;
  --ease-in-out: all 0.3s ease-in-out;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #1e1e1e;
  transition: var(--ease-in-out);
}

body.dark-mode {
  background-color: #1e1e1e;
}

body.light-mode {
  background-color: #e0e0e0;
}

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.appearance-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #44484e;
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 50%;
  margin-left: 30px;
  cursor: pointer;
  transition: var(--ease-in-out);
}

.appearance-toggle img {
  height: 23px;
  width: 23px;
}

.appearance-toggle:hover {
  background-color: #7c7c7c;
}

.appearance-toggle.light-mode {
  background-color: #7c7c7c;
}

.appearance-toggle.light-mode:hover {
  background-color: #44484e;
}

.appearance-toggle.dark-mode {
  background-color: #44484e;
}

.appearance-toggle.dark-mode:hover {
  background-color: #7c7c7c;
}

.footer {
  color: var(--grey);
  font-family: var(--nunito-sans);
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer a {
  color: var(--grey);
}

.footer a:visited {
  color: var(--grey);
}

@keyframes fadeIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
